<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="AdPRx1G99HFIAkjrbFEwRRBaytxINx881rI68b1zfs0" />
    <meta name="keywords" content="Japan tours, Obige, Japan travel tips, Japan travel planner, Japan cities to visit, Japan history sites, Japan vacation spots">
    <meta name="description" content="Discover Japan's top tourist destinations, from Tokyo's vibrant streets to Kyoto's serene temples. Expert tips, itineraries, and travel advice included.">
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700;800&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/adaptation.css">
    <title>Obige</title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <a href="index.html" class="header__logo"><img src="image/header/logo/odigo-Logo.svg" alt="Odigo"></a>
                <div class="header__menu menu">
                    <div class="menu__icon">
                        <span></span>
                    </div>
                    <nav class="menu__body">
                        <ul class="menu__list">
                            <li class="menu__item">
                                <a href="#" class="menu__link">Articles</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Locations</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Videos</a>
                            </li>
                            <li class="menu__item">
                                <a href="#" class="menu__link">Sign in</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </header>
        <main class="page">
            <section class="page__main-block main-block">
                <div class="main-block__container">
                    <div class="main-block__body">
                        <div class="main-block__top">
                            <h1 class="main-block__title">Discover Amazing places in Japan</h1>
                            <p class="main-block__text">Japan is a country where ancient traditions blend seamlessly with modern marvels, offering travelers an unforgettable journey through its diverse landscapes and rich cultural heritage. From bustling cities to serene countryside, Japan boasts an array of amazing places waiting to be explored.</p>
                        </div>
                        <form class="main-block__form">
                            <input type="text" class="main-block__input" placeholder="What would you like to do?">
                            <input type="text" class="main-block__input" placeholder="What would you like to go?">
                            <button class="main-block__button">SEARCH</button>
                        </form>
                    </div>
                </div>
                <div class="main-block__image _ibg">
                    <img src="image/main-block/background.jpg" alt="background">
                </div>
            </section>
            <section class="page__benefits benefits">
                <div class="benefits__container">
                    <div class="benefits__body">
                        <h2 class="benefits__title">Benefits of Odigo</h2>
                        <div class="benefits__columns">
                            <div class="benefits__column">
                                <div class="benefits__item item-benefits">
                                    <a href="#" class="item-benefits__icon">
                                        <img src="image/benefits/Icon 1.svg" alt="Icon">
                                    </a>
                                    <div class="item-benefits__content">
                                        <h4 class="item-benefits__title">Welcome to Odigo!</h4>
                                        <p class="item-benefits__text">Our advantages: Expert guides, tailored experiences, seamless journeys.</p>
                                    </div>
                                    <div class="item-benefits__bottom"><a href="#" class="item-benefits__link link">LEARN MORE</a></div>
                                </div>
                            </div>
                            <div class="benefits__column">
                                <div class="benefits__item item-benefits">
                                    <a href="#" class="item-benefits__icon">
                                        <img src="image/benefits/Icon 2.svg" alt="Icon">
                                    </a>
                                    <div class="item-benefits__content">
                                        <h4 class="item-benefits__title">Your Personal Japan Guide</h4>
                                        <p class="item-benefits__text">Our advantages: Expert guides, tailored experiences, seamless journeys.</p>
                                    </div>
                                    <div class="item-benefits__bottom"><a href="#" class="item-benefits__link link">LEARN MORE</a></div>
                                </div>
                            </div>
                            <div class="benefits__column">
                                <div class="benefits__item item-benefits">
                                    <a href="#" class="item-benefits__icon">
                                        <img src="image/benefits/Icon 3.svg" alt="Icon">
                                    </a>
                                    <div class="item-benefits__content">
                                        <h4 class="item-benefits__title">Promoting Local Businesses</h4>
                                        <p class="item-benefits__text">Our advantages: Expert guides, tailored experiences, seamless journeys.</p>
                                    </div>
                                    <div class="item-benefits__bottom"><a href="#" class="item-benefits__link link">LEARN MORE</a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page__catalog catalog">
                <div class="catalog__container">
                    <div class="catalog__header header-block">
                        <h2 class="header-block__title">Get inspired for your next trip</h2>
                        <a href="#" class="header-block__link link">VIEW ALL</a>
                    </div>
                    <div class="catalog-places">
                        <div class="catalog-places__top">
                            <a href="#" class="catalog-places__image _hover">
                                <img src="image/catalog/1.png" alt="places">
                            </a>
                            <a href="#" class="catalog-places__image _hover">
                                <img src="image/catalog/2.png" alt="places">
                            </a>
                        </div>
                        <div class="catalog-places__bottom">
                            <a href="#" class="catalog-places__image _hover">
                                <img src="image/catalog/3.png" alt="places">
                            </a>
                            <a href="#" class="catalog-places__image _hover">
                                <img src="image/catalog/4.png" alt="places">
                            </a>
                            <a href="#" class="catalog-places__image _hover">
                                <img src="image/catalog/5.png" alt="places">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page__about-places about-places">
                <div class="about-places__container">
                    <div class="about-places__body">
                        <div class="about-places__item item-about">
                            <a href="#" class="item-about__image _hover">
                                <img src="image/about-places/prefecture.png" alt="prefecture">
                            </a>
                            <div class="item-about__content">
                                <h4 class="item-about__title">Prefecture in Focus: Tottori</h4>
                                <p class="item-about__text">Tottori Prefecture, nestled in western Japan, is a hidden gem awaiting discovery. Renowned for its vast sand dunes, Tottori offers a unique blend of natural beauty and cultural charm. Explore the Tottori Sand Dunes, the largest in Japan, where endless golden sands stretch to meet the sea.</p>
                                <div class="item-about__link">
                                    <a href="#" class="link">VIEW PREFECTURE</a>
                                </div>
                            </div>
                        </div>
                        <div class="about-places__item item-about">
                            <div class="item-about__content">
                                <h4 class="item-about__title">Featured Neighborhood: <br> Kyoto’s Arashiyama</h4>
                                <p class="item-about__text">Kyoto's Arashiyama neighborhood captivates with its serene bamboo groves, historic temples, and scenic riverside views. Stroll through the iconic Arashiyama Bamboo Grove, where towering bamboo stalks create a tranquil atmosphere.</p>
                                <div class="item-about__link">
                                    <a href="#" class="link">VIEW NEIGHBORHOOD</a>
                                </div>
                            </div>
                            <a href="#" class="item-about__image _hover">
                                <img src="image/about-places/neighborhood.png" alt="neighborhood">
                            </a>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page__places places">
                <div class="places__container">
                    <div class="places__header header-block">
                        <h2 class="header-block__title">Today top places to visit</h2>
                    </div>
                    <div class="places__items">
                        <div class="places__item item-places">
                            <div href="#" class="item-places__image image-item-places">
                                <a href="#" class="image-item-places__image _hover">
                                    <img src="image/places/place1.png" alt="NAGOYA">
                                </a>
                                <div class="image-item-places__status status-image-places">
                                    <span class="status-image-places__label">NAGOYA</span>
                                    <div class="status-image-places__information infotmation-status-places">
                                        <span class="infotmation-status-places__like">221</span>
                                        <span class="infotmation-status-places__comment">34</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-places__content content-item-places">
                                <div class="content-item-places__text">Nagoya, Japan's vibrant heartland, pulsates with modernity and tradition. Delve into its rich history at Nagoya Castle, an iconic symbol of samurai heritage.</div>
                                <div class="content-item-places__button content-button-places">
                                    <a href="#" class="content-button-places__link">SEE MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="places__item item-places">
                            <div href="#" class="item-places__image image-item-places">
                                <a href="#" class="image-item-places__image _hover">
                                    <img src="image/places/place2.png" alt="NIIGATA">
                                </a>
                                <div class="image-item-places__status status-image-places">
                                    <span class="status-image-places__label">NIIGATA</span>
                                    <div class="status-image-places__information infotmation-status-places">
                                        <span class="infotmation-status-places__like">170</span>
                                        <span class="infotmation-status-places__comment">45</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-places__content content-item-places">
                                <div class="content-item-places__text">Niigata prefecture, nestled along the coast of the Sea of Japan, offers a captivating blend of natural beauty and cultural richness. Discover the serene landscapes</div>
                                <div class="content-item-places__button content-button-places">
                                    <a href="#" class="content-button-places__link">SEE MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="places__item item-places">
                            <div href="#" class="item-places__image image-item-places">
                                <a href="#" class="image-item-places__image _hover">
                                    <img src="image/places/place3.png" alt="OSAKA">
                                </a>
                                <div class="image-item-places__status status-image-places">
                                    <span class="status-image-places__label">OSAKA</span>
                                    <div class="status-image-places__information infotmation-status-places">
                                        <span class="infotmation-status-places__like">243</span>
                                        <span class="infotmation-status-places__comment">55</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-places__content content-item-places">
                                <div class="content-item-places__text">Osaka, the bustling heart of Kansai, beckons with its vibrant energy and rich cultural tapestry. Dive into the sensory overload of Dotonbori</div>
                                <div class="content-item-places__button content-button-places">
                                    <a href="#" class="content-button-places__link">SEE MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="places__item item-places">
                            <div href="#" class="item-places__image image-item-places">
                                <a href="#" class="image-item-places__image _hover">
                                    <img src="image/places/place4.png" alt="SAITAMA">
                                </a>
                                <div class="image-item-places__status status-image-places">
                                    <span class="status-image-places__label">SAITAMA</span>
                                    <div class="status-image-places__information infotmation-status-places">
                                        <span class="infotmation-status-places__like">224</span>
                                        <span class="infotmation-status-places__comment">50</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-places__content content-item-places">
                                <div class="content-item-places__text">Saitama, a dynamic prefecture neighboring Tokyo, offers a perfect blend of urban convenience and natural tranquility. </div>
                                <div class="content-item-places__button content-button-places">
                                    <a href="#" class="content-button-places__link">SEE MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="places__item item-places">
                            <div href="#" class="item-places__image image-item-places">
                                <a href="#" class="image-item-places__image _hover">
                                    <img src="image/places/place5.png" alt="UENO">
                                </a>
                                <div class="image-item-places__status status-image-places">
                                    <span class="status-image-places__label">UENO</span>
                                    <div class="status-image-places__information infotmation-status-places">
                                        <span class="infotmation-status-places__like">201</span>
                                        <span class="infotmation-status-places__comment">59</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-places__content content-item-places">
                                <div class="content-item-places__text">Ueno, a cultural hub in the heart of Tokyo, brims with history, art, and natural beauty. Explore the vast Ueno Park, home to museums like the Tokyo.</div>
                                <div class="content-item-places__button content-button-places">
                                    <a href="#" class="content-button-places__link">SEE MORE</a>
                                </div>
                            </div>
                        </div>
                        <div class="places__item item-places">
                            <div href="#" class="item-places__image image-item-places">
                                <a href="#" class="image-item-places__image _hover">
                                    <img src="image/places/place6.png" alt="SHIBUYA">
                                </a>
                                <div class="image-item-places__status status-image-places">
                                    <span class="status-image-places__label">SHIBUYA</span>
                                    <div class="status-image-places__information infotmation-status-places">
                                        <span class="infotmation-status-places__like">102</span>
                                        <span class="infotmation-status-places__comment">12</span>
                                    </div>
                                </div>
                            </div>
                            <div class="item-places__content content-item-places">
                                <div class="content-item-places__text">Shibuya, Tokyo's pulsating epicenter of youth culture and urban excitement, is a must-visit destination for travelers seeking vibrant experiences.</div>
                                <div class="content-item-places__button content-button-places">
                                    <a href="#" class="content-button-places__link">SEE MORE</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="page__video video-page">
                <div class="video-page__video">
                    <video preload="metadata" poster="image/video-page/Video.jpg" controls>
                        <source src="video/video-page/video.webm" type="video/webm">
                        <source src="video/video-page/video.mp4" type="video/mp4">
                    </video>
                </div>
            </section>
        </main>
    </div>
    <footer class="footer">
        <div class="footer__container">
            <a class="footer__logo" href="index.html">
                <img src="image/footer/logo.svg" alt="logo">
            </a>
            <div class="footer__columns ">
                <div class="footer__column column-footer">
                    <div class="column-footer__label">Company</div>
                    <nav class="column-footer__menu menu-column-footer">
                        <ul class="menu-column-footer__list">
                            <li class="menu-column-footer__item">
                                <a href="#" class="menu-column-footer__link">About</a>
                            </li>
                            <li class="menu-column-footer__item">
                                <a href="#" class="menu-column-footer__link">Team</a>
                            </li>
                            <li class="menu-column-footer__item">
                                <a href="#" class="menu-column-footer__link">Careers</a>
                            </li>
                            <li class="menu-column-footer__item">
                                <a href="#" class="menu-column-footer__link">Privacy Policy</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__column column-footer">
                    <div class="column-footer__label">Locations</div>
                    <nav class="column-footer__menu menu-column-footer">
                        <ul class="menu-column-footer__list">
                            <li class="menu-column-footer__item">
                                <a href="#" class="menu-column-footer__link">Tokyo</a>
                            </li>
                            <li class="menu-column-footer__item">
                                 <a href="#" class="menu-column-footer__link">Kyoto</a>
                            </li>
                            <li class="menu-column-footer__item">
                                <a href="#" class="menu-column-footer__link">Osaka</a>
                            </li>
                            <li class="menu-column-footer__item">
                                <a href="#" class="menu-column-footer__link">Hokkaido</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="footer__column column-footer">
                    <div class="column-footer__label">Social Media</div>
                    <nav class="column-footer__menu menu-column-footer">
                        <ul class="menu-column-footer__list">
                            <li class="menu-column-footer__item">
                                <a href="#" class="menu-column-footer__link">Facebook</a>
                            </li>
                            <li class="menu-column-footer__item">
                                <a href="#" class="menu-column-footer__link">Twitter</a>
                            </li>
                            <li class="menu-column-footer__item">
                                <a href="#" class="menu-column-footer__link">Instagram</a>
                            </li>
                            <li class="menu-column-footer__item">
                                <a href="#" class="menu-column-footer__link">Youtube</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </footer>
    <script src="js/script.js"></script>
</body>
</html>
